.userList {
  height: 13vh;
  width: 60vw;
  padding-left: 10px;
  display: flex;
  margin-top: 20px;
}

.myPhoto {
  height: 10vh;
  width: 5vw;
}

.infoUser {
  padding: 10px 0px 0px 5px;
  color: rgb(75, 71, 71);
}
